[workspace.package]
version = "1.1.0"
license = "LGPL-2.1-or-later"
repository = "https://github.com/retis-org/btf-rs"
homepage = "https://github.com/retis-org/btf-rs"
edition = "2021"

[workspace]
resolver= '2'
members = [
    "btf-rs",
    "btf-rs-derive",
]
